.idea/
.venv/
results/
data/airlines.csv
data/*.arff
data/accidents_model_ready.csv
data/US_Accidents_March23.csv
accidents_model_ready.csv
US_Accidents_March23.csv
*.log
__pycache__/
*.pyc
.DS_Store
